

// 修改全局样式
*{
  box-sizing: border-box;

}
.theme-default-content:not(.custom){
  max-width: 95%;
}

.sidebar{
  width:17rem;
}

a.sidebar-link.active{
  background:#dbf0e5;
  color: #3eaf7c;
}

.sidebar-sub-headers a.sidebar-link.active{
   background:#ffffff;
}

// code 代码
.theme-default-content code 
  background-color rgba(219,240,229,.5)
  color #3eaf7c