

// 修改全局样式
*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family:"微软雅黑", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.theme-default-content:not(.custom){
  max-width: 90%;
}

.sidebar{
  width:17rem;
}

a.sidebar-link.active{
  background:#dbf0e5;
  color: #3eaf7c;
}

.sidebar-sub-headers a.sidebar-link.active{
   background:#ffffff;
}

// code 代码
.theme-default-content code 
  background-color rgba(219,240,229,.5)
  color #3eaf7c


// 导航条样式 start

body::-webkit-scrollbar{
  width:1px;
  height:1px;
  /**/
}
body::-webkit-scrollbar-track{
  background: rgb(239, 239, 239);
  border-radius:2px;
}
body::-webkit-scrollbar-thumb{
  background: #bfbfbf;
  border-radius:10px;
}
body::-webkit-scrollbar-thumb:hover{
  background: #333;
}
body::-webkit-scrollbar-corner{
  background: #179a16;
}


// 导航条样式 end

@media (max-width: 419px)
    .theme-default-content div[class*="language-"]
      // margin-right -16px
    .theme-default-content:not(.custom)
      max-width none
      padding 1.5rem 1rem
      th, td
          padding: 0.2em 0.2em
          min-width 100px

     

